/* build an initial inspiration from this codepen:
   https://codepen.io/nickpettit/pen/eBCrK 
*/

@import 'variables';

   
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0.35em 0 0 0;
    overflow:hidden;

    @media only screen and (max-width: $mq-mobile-max)  { // this should be orientation
//			margin:0 0 0 0;
			max-width: 100vw !important;
//			&.firstLoad {
//				margin-top:10.5vh;
//			}
			//margin: calc(9vh + 12px) 0 0 0;
			margin: calc(4vh + 50px)  0 0 0;
	}
	// iPhone X
	@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	    	//margin: calc(15px + 0.5em) 0 0 0;
	    	//&.firstLoad {
				margin-top:calc(15px + 11vh);
			//}
	}

	.hideMobile{
	 	@media only screen and (max-width: $mq-mobile-max)  { display: none; }
	 	@media only screen and (min-width: $mq-tablet-min)  { display: inherit; }
	}
	.hideDesktop{
	 	@media only screen and (max-width: $mq-mobile-max)  { display: inherit; }
	 	@media only screen and (min-width: $mq-tablet-min)  { display: none; }
	}

	

 }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}


em {
    letter-spacing: 0.0125em;
}

/*
 * Remove default fieldset styles.
 */ 

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/********************
BASE STYLING
********************/

html, body {
  height: 100%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%; 
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,181d9b+50,2989d8+65,d9fcff+90 
background: #000000; 
background:    -moz-linear-gradient(top, #000000 20%, #181d9b 50%, #2989d8 65%, #d9fcff 90%); 
background: -webkit-linear-gradient(top, #000000 20%,#181d9b 50%,#2989d8 65%,#d9fcff 90%); 
background:   		linear-gradient(to bottom, #000000 20%,#181d9b 50%,#2989d8 65%,#d9fcff 90%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#d9fcff',GradientType=0 );*/
}



/********************
Main Background Animation - Placement Z-Axis
********************/

#scroll-proxy { height: 10000px; }



#environment {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
      -ms-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}





#content {
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;

    section {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  background-size: 100%;
	  background-color: transparent;
	  background-position: center bottom;
	  background-repeat: no-repeat;

	  	svg.svgBackground{
	  		position: absolute;
	  		bottom: -5vh;
	  		pointer-events: none;
	  		transform: scale(1);// translateY(-10vh);
	  		@media only screen and (orientation: portrait)  {
	  			transform: scale(2);
	  		}
	  		@media only screen and (max-width: $mq-mobile-max)  { 
			  	//transform: scale(1.5);
    			transform: scale(3);
    			transform-origin: 50% 100%;
    			//transform-origin: bottom;
    			bottom: -5vh;

		  	}
	  		g.svgScale{
	  		@media only screen and (orientation: landscape)  { 
				transform: scaleX(0.8) scaleY(0.7) translateY(-15vh);
	  		}
	  		@media only screen and (orientation: portrait)  { 
				transform: scaleX(0.5) scaleY(0.6) translateY(-27.5vh);
	  		}
	  		
	  		transform-origin: 50% 100%;
		  		@media only screen and (min-width: $mq-lgDesk-min)  { 
			  		//transform: scale(0.8);
			  		transform: scaleX(0.75) scaleY(0.66) translateY(-10vh);
    				transform-origin: bottom;
    				transform-origin: 50% 100%;
		  		}
		  		@media only screen and (min-width: 1500px)  { 
			  		transform: scaleX(0.65) scaleY(0.6) translateY(-4vh);
    				transform-origin: bottom;
    				transform-origin: 50% 70%;
		  		}
		  		@media only screen and (max-width: $mq-mobile-max)  { 
		  			transform-origin: 50% 50%;
    				//transform: scaleX(0.4) scaleY(0.6) translateY(0);
    				transform: scaleX(0.375) scaleY(0.4) translateY(-15vh);
    			}
	  		}
	  	}
	&#third{
		svg.svgBackground{
			//bottom: -5vh;

			g.svgScale{
			}
		}
	}
	&#fourth{
		svg.svgBackground{
			transform: translateY(-15vh);
			@media only screen and (max-width: $mq-mobile-max)  { // this should be orientation
			 	transform: translateY(-55vh);
			}

		}
	}
	  	.place3D{
		  	width: 100%;
		  	position: absolute;
		  	bottom:0;
		  	height:0px;

		  	.perspectiveContainer {
			    position: relative;
			    top: -97.5vh;
			    width: 80%;
    			margin: auto;
    			max-width: 1400px;
    			display: flex;
    			height: calc(60px + 5vh);
    			z-index: 100;
    			padding-left: 0.8vw;
    			padding-right: 0.8vw;
			    //-webkit-perspective: 800;
			     @media only screen and (max-width: 919.9px)  { 
				  	width:90%;
				  	//left:5%
				 }
				 @media only screen and (min-width: 920px) and (max-width: 1299.9px) { 
				  	width:88%;
				 }
			     @media only screen and (max-width: $mq-mobile-max)  { 
				  	flex-direction:column;
				 }
  				 @media screen and (orientation: landscape) and (max-height:500px){
  				    height: 16vh;
  				 }

				 .typeFix {
				 	display:flex; 
				 	width:100%;
				 	&.art{
					 	@media only screen and (min-width: $mq-tablet-min)  { 
					 		padding-left: 2.5%;
					 	}
					 	svg{
					 		max-width: 210px;
					 	}
				 	}
				 }

			    svg {
			    	//max-width: 66.67vh;
			    	width:100%;
			    	display:flex;
			    	//margin-right: calc(-8vw - 2vh);
			    	//max-width: 500px;
			    	max-height: 11.5vh;
				    //transform: scale(1.33);
				    @media only screen and (max-width: $mq-mobile-max)  { 
				    	margin-right: unset;
				    	transform: scale(1.1); 
				    	height: 8.5vh;
				    	&.skills{
				    	    width: 52.5%;
				    	}
				    	&.interactive{
				    	    width: 75%;
				    	    height: 11vh;
				    	}
				    	&.motion{
				    	       //width: 59%;
							   //transform: scale(1.15);
							   //height: 11vh;
							    width: 54%;
							    transform: scale(1.1);
							    height: 11vh;

				    	}
				    	&.art{
				    	    width: 95%;
				    	}
				    }
				     &.skills{
					    @media only screen and (min-width: 1400px)  { 
					    	max-width: 400px;
	    					transform: translateX(7.75vw); 
					    }
				    }
				    &.interactive{
				    	//max-width: 470px;
				    	max-width: calc(250px + 15vh + 1vh);
				    }
				    &.motion{
				    	//max-width: 470px;
				    	max-width: calc(130px + 15vh + 2vh);
				    }
				   
				    @media only screen and (min-width: 1800px)  { 
				    	 
				    }
				    g.heading{
				    	transform: scale(0.8);
	    				transform-origin: 0 50%;
	    				
	    				path, line, polyline { 
	    					stroke: #fff;
	    					stroke-width: 2px;
	    					fill: none;
	    					opacity:1;
	    					stroke-dashoffset: 0;
    						stroke-dasharray: 0,100;
	    					@media only screen and (max-width: $mq-mobile-max), only screen and (max-height: 500px){ 
	    						stroke-width: 3px;
	    					}
	    				}
	    				
	    				
	    				@media only screen and (max-width: $mq-smDesk-max)  { 
	    					transform: scale(0.75);
	    					&.about{
	    					    transform: scale(0.7);
					    	    transform-origin: 15% 33%;
					    	}
	    				}
	    				//@media (orientation: portrait) and (max-width: $mq-tablet-max)  { 
	    				//	transform: scale(1);
	    				//}
	    				@media (orientation: portrait) and (max-width: $mq-mobile-max)  { 
	    					//transform: scale(0.7) translateY(5%);
	    					&.intro{
					    	    transform-origin: 0% 60%;
					    	}
	    					&.skills{
	    					    transform-origin: 25% 55%;
		    					transform: scale(0.75) translateY(5%);
					    	}
					    	&.interactive{
					    	    //transform-origin: 15% 55%;
							    //transform: scale(0.6) translateY(0%);				
							    transform-origin: 20% 60%;
    							transform: scale(0.8) translateY(0%);	    	}
					    	&.motion{
					    	    transform-origin: 20% 50%;
					    	}
					    	&.art{
					    	    transform-origin: 50% 60%;
    							transform: scale(0.75) translateY(8%);
					    	}
					    	&.about{
					    	    transform-origin: 0% 60%;
					    	}
	    				}
	    				@media only screen and (orientation: landscape) and (max-width: 736px) {
	    				    transform: scale(0.675);
    						transform-origin: 0 0;
	    				}
			    	}
			    	@media only screen and (orientation: landscape) and (max-width: 736px) {
	    				 max-height: unset;
	    			}
			    	
			    }
			    
			}
		  	/*
		  	&.stop1{
		  		//bottom: $placement;
		  		border:2px solid #f00;
		  	}
		  	&.stop2{
		  		//bottom:calc(3500px * 1);
		  		border:2px solid #0f0;
		  	}
		  	&.stop3{
		  		//bottom:calc(3500px * 2);
		  		border:2px solid #00f;
		  	}
		  	&.stop4{
		  		//bottom:calc(3500px * 3);
		  		border:2px solid #000;
		  	}
		  	&.stop5{
		  		//bottom:calc(3500px * 4);
		  		border:2px solid #fff;
		  	}
		  	*/
		 }
	}
}


$placement:      -10000px;


#zero {
	transform: translate3d(0,0,0);
    pointer-events: all;
    z-index: 200000;
            .stop1{
		  		transform: translateY(calc(#{$placement} * 16));
		  	}
		  	.stop2{
		  		transform: translateY(calc(#{$placement} * 32));
		  	}
		  	.stop3{
		  		transform: translateY(calc(#{$placement} * 48));
		  	}
		  	.stop4{
		  		transform: translateY(calc(#{$placement} * 64));
		  	}
		  	.stop5{
		  		transform: translateY(calc(#{$placement} * 80));
		  	}

}
#first {
  -webkit-transform: translate3d( 0, 0, -11500px) scale(16);
     -moz-transform: translate3d( 0, 0, -11500px) scale(16);
      -ms-transform: translate3d( 0, 0, -11500px) scale(16);
       -o-transform: translate3d( 0, 0, -11500px) scale(16);
          transform: translate3d( 0, 0, -11500px) scale(16);
            .stop1{
		  		transform: translateY($placement);
		  	}
		  	.stop2{
		  		transform: translateY(calc(#{$placement} * 2));
		  	}
		  	.stop3{
		  		transform: translateY(calc(#{$placement} * 3));
		  	}
		  	.stop4{
		  		transform: translateY(calc(#{$placement} * 4));
		  	}
		  	.stop5{
		  		transform: translateY(calc(#{$placement} * 5));
		  	}

}

#second {
  -webkit-transform: translate3d( 0, 0, -24000px ) scale(32);
     -moz-transform: translate3d( 0, 0, -24000px ) scale(32);
      -ms-transform: translate3d( 0, 0, -24000px ) scale(32);
       -o-transform: translate3d( 0, 0, -24000px ) scale(32);
          transform: translate3d( 0, 0, -24000px ) scale(32);
    		.stop1{
		  		transform: translateY(calc(#{$placement} / 2));
		  	}
		  	.stop2{
		  		transform: translateY($placement);
		  	}
		  	.stop3{
		  		transform: translateY(calc(#{$placement} / 2 * 3));
		  	}
		  	.stop4{
		  		transform: translateY(calc(#{$placement} / 2 * 4));
		  	}
		  	.stop5{
		  		transform: translateY(calc(#{$placement} / 2 * 5));
		  	}
}

#third {
  -webkit-transform: translate3d( 0, 0, -48000px ) scale(64);
     -moz-transform: translate3d( 0, 0, -48000px ) scale(64);
      -ms-transform: translate3d( 0, 0, -48000px ) scale(64);
       -o-transform: translate3d( 0, 0, -48000px ) scale(64);
          transform: translate3d( 0, 0, -48000px ) scale(64);
            .stop1{
		  		transform: translateY(calc(#{$placement} / 4));
		  	}
		  	.stop2{
		  		transform: translateY(calc(#{$placement} / 2));
		  	}
		  	.stop3{
		  		transform: translateY(calc(#{$placement} / 4 * 3));
		  	}
		  	.stop4{
		  		transform: translateY($placement);
		  	}
		  	.stop5{
		  		transform: translateY(calc(#{$placement} / 4 * 5));
		  	}
}

#fourth {
  -webkit-transform: translate3d( 0, 0, -64000px ) scale(128);
     -moz-transform: translate3d( 0, 0, -64000px ) scale(128);
      -ms-transform: translate3d( 0, 0, -64000px ) scale(128);
       -o-transform: translate3d( 0, 0, -64000px ) scale(128);
          transform: translate3d( 0, 0, -64000px ) scale(128);


           .stop1{
		  		transform: translateY(calc(#{$placement} / 8));
		  	}
		  	.stop2{
		  		transform: translateY(calc(#{$placement} / 4));
		  	}
		  	.stop3{
		  		transform: translateY(calc(#{$placement} / 8 * 3));
		  	}
		  	.stop4{
		  		transform: translateY(calc(#{$placement} / 2));
		  	}
		  	.stop5{
		  		transform: translateY(calc(#{$placement} / 8 * 5));
		  	}

   	background: #d9fcff; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+31,181d9b+54,2989d8+62,d9fcff+90 */
background: -moz-linear-gradient(top, #000000 31%, #181d9b 54%, #2989d8 62%, #d9fcff 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #000000 31%,#181d9b 54%,#2989d8 62%,#d9fcff 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #000000 31%,#181d9b 54%,#2989d8 62%,#d9fcff 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#d9fcff',GradientType=0 ); /* IE6-9 */

	height: 7500px !important;
    bottom: 400000px;




	



}
    .place3D.stop1{
		  	.perspectiveContainer {
			     @media only screen and (max-width: 800px)  { 
			        width: 100%;
				  	left: 2.5%
				 }
			}
	}






		.navMobileShow{
			display:none;
		}
		.navPos .navLine.navLineMobile{
			display:none;
		}



@media only screen and (orientation: portrait ) and (max-width: $mq-mobile-max), 
	   only screen and (orientation: landscape ) and (max-height: 450px)  and (max-width: 919.9px)   { 
		.navMobileShow{
			display:block;
			bottom: calc(7.9vw - 5px);
			left: 2.65vw;
			height:9.5vw;
			width: 12vw;
			//border-radius: 50%;
			//background:rgba(255,255,255,0.5);
			border: solid 1.6px rgba(255,255,255,0);
			position:fixed;
			z-index:250000;
			box-sizing:border-box;
			transform:skew(-8deg);
			
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		    tap-highlight-color: rgba(0,0,0,0);
			&:active {
			 	background-color: rgba(255,255,255,0.25) !important;
			}

			@media only screen and (orientation: landscape ) and (max-height: 450px)  and (max-width: 919.9px)   { 
				bottom: calc(1vw - 5px);
				width: 50vw;
				left: 0.9vw;
				height: 5.4vw;
				border: none !important;
			}
		}

		.navPos .navLine:not(.navLineMobile){
			display:none;
		}
		.navPos .navLine.navLineMobile{
			display:block;
		    background-color: rgb(4, 77, 255);
		    right: 0;
		    //top: calc(-18px + 0vh);
		    //top: -5vh; //calc(15px - 5vh);
		    top:  calc(30px - 9.5vh);
		    left: -11vw;
		    width: 150vw;
		    //transform: rotate(0) translateY(0) skewX(0) !important;
		}

		nav a{
		    pointer-events: none;
		}
		nav .subStop{
		    pointer-events: all;
		}



		.scene .carousel__cell {
		    transition: opacity 0.33s, filter 0.33s, height 0.25s;
		    transition-delay: 1s;
		}
//		#content section .place3D > *:not(svg),
//		#content section .place3D > *:not(.typeFix) {
//		    transition: opacity 0.33s, filter 0.33s;
//		    transition-delay: 0.75s;
//		}


		#content section .place3D .button-group, 
		#content section .place3D .holder,
		#content section .place3D .art-container{
		//, #content section .place3D .carousel__cell{
		    transition: opacity 0.33s, filter 0.33s;
		    transition-delay: 1s;
		}
		#content section .place3D .typeFix,
		#content section .place3D a.closeBtn{
		    transition: opacity 0.33s, filter 0.33s;
		    transition-delay: 1s;
		}
		#content section .place3D .svgBackground{
		    transition: opacity 0.33s, filter 0.33s;
		    transition-delay: 1s;
		}






		.holder .gridContain {
		    transition: height 0.25s;
		}
		.clickAway{
			display:none;
			opacity:0;
			transition: opacity 0.25s;
			transition-delay: 0.25s;
		}

	.navOpen {

//		.scene .carousel__cell {
//		    height: 52vh !important;
//		    transition-delay: 0s;
//		}
		//#content section .place3D > *:not(svg),
		//#content section .place3D > *:not(.typeFix) 
		#content section .place3D .button-group, 
		#content section .place3D .holder,
		#content section .place3D .art-container,
		#content section .place3D .carousel__cell{
		    opacity: 0.67;
		    filter: blur(10px);
		    transition-delay: 0s;
		}
		#content section .place3D .typeFix,
		#content section .place3D a.closeBtn{
		    opacity: 0.7;
		    filter: blur(5px);
		    transition-delay: 0s;
		}
		#content section .place3D .svgBackground{
		    opacity: 0.8;
		    filter: blur(12px);
		    transition-delay: 0s;
		}
		#content section .place3D * {
		    pointer-events: none;
		}
		#content section {
			pointer-events: none;
		}
		.clickAway{
			opacity:1;
			transition-delay: 0s;
			position:fixed;
			display:block;
			bottom: 0;
    		height: 110vh;
			left: 0;
			width: 100vw;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+90&0.1+61,0.15+77,0.3+90 */
background: -moz-linear-gradient(top, 	 rgba(30,87,153,0) 40%, rgba(10,28,49,0.1) 61%, rgba(4,13,22,0.15) 77%, rgba(0,0,0,0.3) 90%);
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 40%,rgba(10,28,49,0.1) 61%,rgba(4,13,22,0.15) 77%,rgba(0,0,0,0.3) 90%); 
background: linear-gradient(to bottom, 	 rgba(30,87,153,0) 40%,rgba(10,28,49,0.1) 61%,rgba(4,13,22,0.15) 77%,rgba(0,0,0,0.3) 90%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e5799', endColorstr='#4d000000',GradientType=0 ); 

		}
		
		.holder .gridContain {
		    height: 67vh;
		}

		nav a, .mainTitle{
		    pointer-events: all;
		}

		nav .subStop{
			border-width: 15px;
		    top: -8px;
		    right: -26px;
		    width: 40px;
		    height: 40px;
		    pointer-events: all;
		    //box-shadow: unset;
		}

		.navMobileShow{
			display:none;
		}

		

	}
}






body.level0 .clickAway{
	display:none !important;
}








.mainTitle{
	position: fixed;
    bottom: -11px;
    left: 8.5%;
    width: 650px;
    height: 130px;
    z-index:200000;
    pointer-events:none;

	//bottom: calc(-2px + 3.7vh) !important;





	canvas#textLogo{
		width:100%;
		height:100%;

	}
	.background {
		position: absolute;
		top:0;
		left:0;
		height:0;
		width:0;
		//background: rgba(250, 250, 250, 0.85);
		z-index:-1;
	}


	@media (orientation: portrait) and (max-width: $mq-mobile-max)  { 
	    //top: 78vh;
	    //top: calc(100vh - 160px);
	    width:100%;
	    height: 10vw;
	    right: unset;
	    left: unset;
	    //bottom:125px;
	    //bottom:21px;
	    bottom:calc(7.9vw - 9px);
	    overflow: hidden;
		
		.background {
			position: absolute;
			width:100%;
			left:0;

			top: 0.9vw;
    		height: 3.9vw;
			box-sizing:border-box;
			border-right: none;
			border-left: none;
			
		}
	 }


	//@media (min-width: 920px) and (max-width: 1299.9px) { 
	//	position: fixed;
	//	bottom: -1.25vw;
    //	margin-left: -125px;
    //	left: calc(25% - 150px);
	//}
	@media only screen and (min-width: 600px) and (max-width: 919.9px)  {
		//bottom: 0.25vw;
		//bottom: -6px;
		margin-left: -125px;
		//left: calc(25% - 175px);
		bottom: 0px;
    	left: calc(24% - 175px);
	}
	@media only screen and (min-width: 600px) and (max-width: 699.99px)  {
		bottom: 15px;
    	margin-left: -140px;
    	left: calc(26% - 185px);
    }
	@media only screen and (orientation: landscape) and (min-height: 700px)  and (max-width: 919.9px) {
		//bottom: calc(-12px + 0.5vh);
		bottom: calc(-5px + 0.25vh);
	}
	@media only screen and (orientation: landscape) and (min-height: 850px)  {
	    bottom: calc(-12px + 1vh);
	}
	@media only screen and (min-width: 920px) and (max-width: 979.99px)  {
		left: calc(28% - 325px);
    	margin-left: -1vw; 
	}
	@media only screen and (min-width: 980px) and (max-width: 1299.99px)  {
		left: calc(28% - 325px);
    	margin-left: 0; 
	}
//	@media (min-width: 1500px) { 
//	    bottom: -14px;
//	    width: 700px;
//	    height: 140px;
//	}
	@media (min-width: 1800px) { 
		left: calc(50% - 745px);
	}
	@media screen and (orientation: landscape) and (max-height:500px){
  		bottom: -35px;
  	}
}







// GRASS ////////////////////////////////////////////////



.grass > div {
  //animation:breeze 2s cubic-bezier(.8,-0.5,.25,1.5) infinite;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,87b272+100 */
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #87b272 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#87b272 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#87b272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#87b272',GradientType=0 ); /* IE6-9 */
 background: #666;
  border-right:solid 2px  rgba(180, 227, 145, 0.8);
  border-left: solid 1px rgba(127, 169, 97, 0.5);
  border-top-right-radius:100%;
  bottom:0;
  position:absolute;
  transform-origin:bottom;
  transition: all 100ms ease-in-out;
  width:9px;
}



.grass:not(.hidden) {

	&> div {
		transition: all 100ms ease-in-out;
	}


	&> div:nth-child(1n) {
	  animation:breeze 12s cubic-bezier(.8,-0.5,.25,1.5) infinite;
	 }
	&> div:nth-child(2n) {
	  animation:breeze 12s cubic-bezier(.6,-0.5,.25,1.8) infinite;
	  //border-right:solid 2px #b7e38c;
	  border-right:solid 2px rbga(140,200,90,0.9);
	}

	@keyframes breeze {
	  0%, 100% {
	    transform:auto;
	  }
	  50% {
	    transform:rotate(5deg);
	  }
	}


	&> div:nth-child(5n) {
	  animation-delay: 0.75s;
	  animation:breeze2 12s cubic-bezier(.8,-0.5,.25,1.5) infinite;
	 }
	&> div:nth-child(3n) {
	  animation-delay: 1s;
	  animation:breeze2 12s cubic-bezier(.6,-0.4,1.25,1.8) infinite;
	}

	@keyframes breeze2 {
	  0%, 100% {
	    transform:auto;
	  }
	  50% {
	    transform:rotate(10deg);
	  }
	}
}







// CLOUDS ////////////////////////////////////////////////

.cloudContainer {
	    display: none;
}


//@media (orientation: portrait) and (max-width: $mq-mobile-max),
//	   (orientation: landscape) and (max-height: 500px) { 
@media (orientation: portrait) and (max-width: 768px) and (max-height: 1024px),
	   (orientation: landscape) and (max-height: 768px) and (max-width: 1024px) { 
	.cloudContainer {
		display:block;
	    max-width: 100vw;
	    overflow: visible;
	}
	   
	.mobileClouds {
	    position: fixed;
	    z-index: -10;
	    left: -50vw;
	    top: -130vh;
	    bottom: -25vw;
	    right: -50vw;
	    background: url(../img/cloudMobile.jpg) no-repeat center center;
	    background-size: cover;
	    overflow: hidden;
	    width: 200vw;
	    height: 150vh;
	    @media (orientation: landscape) { 
	    	width: 120vw;
	    	left: -10vw;
	    	right: 0;
	    	top: -150vh;
	    	height: 190vh;
	    }
	}
}





@media (orientation: portrait) and (max-width: $mq-mobile-max),
	   (orientation: landscape) and (max-height: 500px) { 

		#water {
			bottom: -1px;
			position: fixed;
		}
}












@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?nf8tgi');
  src:  url('/fonts/icomoon.eot?nf8tgi#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?nf8tgi') format('truetype'),
    url('/fonts/icomoon.woff?nf8tgi') format('woff'),
    url('/fonts/icomoon.svg?nf8tgi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
.icon-expand:before {
  content: "\e01a";
}
.icon-facebook:before {
  content: "\e900";
  color: #3b5998;
}
.icon-github:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
  color: #0077b5;
}
*/

