@import 'variables';

  

nav {
    position: fixed;
    left: 50%;
    z-index: 200000;
    display: flex;
  //flex-direction: column-reverse;
  //top: 5px;
  //flex-direction: row;
  //align-items: center; 
	bottom: 2px;
  //transform: translateX(100%);
  //margin-left: -50vw;
  	.navPos {
	    display: flex;
	    left: -50%;
	    position: relative;
	}
    @media only screen and (max-width: $mq-mobile-max)  {
        //top: unset; 
		//bottom: 5px;
		//flex-direction: row;
		//left: 3vw;
	}
  	a {
	  	padding: 10px;
	    margin: 10px 10px 10px 5px;
	    background-color: #fff;
	    border-radius: 20px;
	    height: 20px;
	    min-width: 20px;
	    display: flex;
	    text-align:center;
	    cursor:pointer;
	&.level-G {
		transform: translateX(-47px) translateY(-290px);
	}
	&.level-1 {
		transform: translateX(53px) translateY(-319px); 
	}
	&.level-2 {
		transform: translateX(38px) translateY(-130px); 
	}
	&.level-3 {
		transform: translateX(37px) translateY(-295px); 
	}
	&.level-4 {
		transform: translateX(45px) translateY(-193px); 
	}
	&.level-5 {
		transform: translateX(83px) translateY(-329px); 
	}
	    span {
	    	width:100%;
	    }
	  @media only screen and (max-width: $mq-mobile-max)  {
			padding: 3px 8vw 3px 10px;
		    margin: 0 -12.5vw -2.1vh 0;
		    border-radius: 0px;
		    height: 22px;
		    transform: rotate(-45deg) translateY(-11vw) skewX(30deg) !important;
		    width: 15.5vw;
		    span{
		    	transform: skewX(-30deg) translateX(10px);;
		    }

		    .subStop {
			    height: 40px;
			    width: 40px;
			    position: absolute;
			    transform: skewX(-30deg);
			    background: transparent;
			    right: -26px;
			    top: -8px;
			    border-radius: 50%;
			    border: 15px solid #fff;
			    box-sizing: border-box;
			}

	  }
	  @media only screen and (max-width: $mq-mini-max)  {
		    margin: 0 -17vw 1vh 0;
		    height: 21px;
		    transform: rotate(-45deg) translateY(-10vw);
		    width: 20vw;
		    /*span{
		    	transform: translateX(6%) translateX(1px);
		    }*/
		}


  	}
}


.stuck {
  	position:fixed;
  	top:0;
}


.waypoint-content {
    position: absolute;
    background-color: #f0f;
    height: 25px;
    width: 25px;
    z-index: 100000;
 }


 h2{
 //font-family:'Monoton';
 }