<div class="carousel scrollable">


    <div class="carousel__cell select">
            <svg viewBox="0 0 100 700">
                   <defs>
                     <mask id="maskBio" x="0" y="0" width="100" height="700">
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <text class="bio" text-anchor="left" x="1.5" y="350" dy="0">BIOGRAPHY</text>
                     </mask>
                   </defs>
                   <rect class="bg" x="0" y="0" width="100" height="700" mask="url(#maskBio)" ></rect>    
            </svg>
            <div class="cardContent">
                <ul class="li-content bio">
                    <h3>Professional Ethos:</h3>
                    <p>UX can be a limiting concept. Although usually user driven, digital experiences can transcend a user experience, especially outside the context of a website or an app. <em>Participant Experience</em>, though more vague semantically, includes those passively engaged. In a world of UX driven design, users are the driver, and that's all that needs to be designed in single user apps. With a more open-ended experience design approach, the screen is no longer a limitation. From apps that remotely control home automation to custom built interactive environments in marketing campaigns, the user is the driver, but that concept can be blurred, and the participant can be the user, the driver, or a bystander and still be engaged. In a physical interactive space, engagement isn't necessarily user-centric, and UI doesn't have to be either. Similar to UX design, the holy grail standard is the intended behavior of the user so it's goals are parallel, however <em>Participant Experience</em> is also responsible for a grander spectacle and the interactions beyond the immediate.</p>
                    
                    <h3>Designer's Statement:</h3>
                    <p>My passion is design, my tool is code. I have a split career as a UX developer and a SVG & 2D web graphics animator. I've taught graduate level interaction design at Pratt and have experience with OpenFrameworks with just enough C++ knowledge to build an app with the code libraries available. Currently I'm learning Cinder and have found it to be essentially the same as OpenFrameworks, but better documentation and platform support.</p>

                    <h3>Who is Eric?</h3>
                    <p>I grew up in Kansas City and I began studying Animation in college in 1999. The 19 year old me was daunted by the looming fears that the software we were learning would become obsolete, so I added Sculpture as a second major. I suppose I loved using rudementry technology like motors and lights so naturally I found myself looking to newer technologies again. Toward the end of my undergradute I decided it was entirely possible to continue down a path investigating ever changing technologies as tool and method to investigate art and design. I considered two Art & Technology Master's Degree programs and decided upon Cranbrook 2D Design. Here I wildly investgated everything in all compacities of design and learned from and taught my peers. Here I also began woking with hardware, learning AS2 and javascript, but it wasn't until after I moved to New York in 2007 before I jumped head first into coding. 2008-2009 learned Flash AS3 with Greensock, javascript and jQuery -- meanwhile picking up After Effects freelace projects. I built my website 3 or 4 times between 2008-2011, built numerous small client sites (many are no longer live), and soon landed teaching gigs and long term ongoing contract jobs. Since March of 2011 I have been working as a front-end developer concentrating on presentation, style and animation.<br><br></p>                      
                </ul>
            </div>
    </div>


    <div class="carousel__cell">&nbsp;</div>


    <div class="carousel__cell">Education</div>


    <div class="carousel__cell">
            <svg viewBox="0 0 100 700">
                   <defs>
                     <mask id="maskResume" x="0" y="0" width="100" height="700">
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <text class="resume" text-anchor="left" x="1.5" y="350" dy="0">RÉSEMÉ</text>
                     </mask>
                   </defs>
                   <rect class="bg" x="0" y="0" width="100" height="700" mask="url(#maskResume)" ></rect>    
            </svg>
            <div class="cardContent">

<ul class="li-content">


    <li class="li-employment">
                         <div class="overview">
                             <div class="companyWrap" style="margin-bottom: 0 !important;">
                                 <div class="company-logo headline">
                                    <img style="height:0" src="img/about/clear.png">
                                 </div>
                                 <div class="summary-info" style="flex: 7.5;">
                                     <p class="title headline">Work Experience</p>
                                 </div>
                             </div>
                         </div>
    </li>



    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
          <div class="companyWrap">
            <div class="company-logo">
                <img alt="JPMorgan Chase &amp; Co." src="img/about/resume-JPMC.png">
            </div>
            <div class="summary-info ">
                <p class="title">Front End Developer / Animator</p>

                <p class="company">
                    
                <!--<span class="desktop">J.P. Morgan Chase &amp; Co.</span><span class="mobile">J.P. Morgan Chase &amp; Co.: Consumer Banking</span>-->
                <span>J.P. Morgan Chase &amp; Co. <br class="desktop">Consumer Banking</span>
                </p>

                <p class="date-range">
                    <span>Full Time Employee</span>
                </p>

                <p class="date-range">
                    <span>Jan 2016 – July 2018</span>
                </p>

                <p class="location">
                    <span>New York, NY</span>
                </p>

            </div>
          </div>
            <div class="details closed">
                <p>
                    Our group, <em>Core Digital</em>, is a new internal design agency at JPMC. My work varied from building microsites, contributing to larger sites to building interactive infographics. I built several high profile projects such as Jamie Dimon's Annual Report website, front-end dev for much of the JPMC careers site, and the framework for the JPMorgan.com 2018 rebuild. <em>Core Digital</em> was formed in late 2015 and I was recruited internally as one of the original team members.
                </p>

            </div>
            <div class="readMore">read more</div>
        </div>
    </li>



    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="J.P. Morgan" src="img/about/resume-JPM.png">
            </div>
            <div class="summary-info ">
                <p class="title">UX Developer / Animator</p>

                <p class="company">
                    <!--<span class="desktop">J.P. Morgan</span><span class="mobile">J.P. Morgan: Corporate Investment Bank</span>-->
                    <span>J.P. Morgan <br class="desktop">Corporate Investment Bank</span>
                </p>

                <p class="date-range">
                    <!--<span>Contactor, &asymp;20 hours/week</span>-->
                    <span>20h/week contractor</span>
                </p>

                <p class="date-range">
                    <span>May 2011 – Dec 2015</span>
                </p>

                <p class="location">
                    <span>New York, NY</span>
                  </p>

            </div>
            </div>
            <div class="details closed">
                <p>
                    <!--<span class="underline">J.P. Morgan: Corporate Investment Bank</span><br> -->Our small group built and maintained the JPMorgan.com site for the 2012 rebuild and the 2015 rebuild. My primary function was to build reusable interactive modules and strategize the design/architecture of the CMS, Oracle Web Center. In addition to modules, I also built HTML5 animations using raphael.js and SVG -- these worked on IE6+ (this was a requirement of the firm until 2014). Likewise I animated a number of random projects and infographics on javascript for the web -- and in After Effects when the need was there.
                </p>

            </div>
            <div class="readMore">read more</div>
        </div>
    </li>



    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="Macys.com" src="img/about/resume-Macys.png">
            </div>
            <div class="summary-info ">
                <p class="title">HTML5 &amp; Javascript Animator</p>

                <p class="company">Macys.com</p>

                <p class="date-range">
                    <span>20h/week contractor</span>
                </p>

                <p class="date-range">
                    <span>Mar 2011 – Dec 2015</span>
                  </p>

                <p class="location">
                    <span>New York, NY</span>
                </p>

            </div>
            </div>
            <div class="details closed">
                <p>
                    Our team built HTML5 banner animations using SVG, canvas and GSAP, and published to DoubleClick. I animated many of the complex storyboards such as the Macy's Day Parade banners and particle emitter animations for fireworks in the 4th of July banners. I also animated the luxury products ads, simply because the client often only provided one hi-res image to us so we had to create an ethereal and elegant animation out of one image. In 2013 our team switched to building ads in javascript from Flash, and I trained the team to use SVG. We were successful in creating 3-frame banners around 45-49k.
                </p>

            </div>
            <div class="readMore">read more</div>
        </div>
    </li>



    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="Pratt Institute" src="img/about/resume-Pratt.png">
            </div>

            <div class="summary-info ">
                <p class="title">Visiting Professor</p>

                <p class="company">Pratt Institute</p>

                <p class="date-range">
                    <span>Jan 2011 – Dec 2015</span>
                  </p>

                <p class="location">
                    <span>14th St. campus, NY, NY</span>
                </p>

            </div>
            </div>
            <div class="details closed">
                <p>I taught courses in interaction design in the Graduate Communications Design Dept. Primarily my students were very green with code, but between their existing skills with inVision prototypes and my code examples, often students found they loved the code. Several of my students work at fantastic design firms in the city specializing in hybrid design/development roles. Responsibilities also included several rounds of critiques during the semester. I also taught one semester of Motion Graphics in the undergraduate COMD on the Brooklyn Campus in Spring 2011.
                <br>http://courses.ericbintner.com/
                </p>

            </div>
            <div class="readMore">read more</div>
        </div>
    </li>

    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
        <div class="companyWrap">
            <div class="company-logo">
                <img alt="Missouri State University" src="img/about/resume-MSU.png">
            </div>

            <div class="summary-info ">
                <p class="title">Visiting Instructor</p>

                <p class="company">Missouri State University</p>

                <p class="date-range">
                    <span>Fall 2010</span>
                  </p>

                <p class="location">
                    <span>Springfield, MO</span>
                </p>

            </div>
            </div>
            <div class="details closed">
                <p>In the Fall of 2010 I left NYC to teach at my Alma mater for one semester totalling 5 sections of undergraduate courses.<br>3 sections: Animation 1, This is the first course offered for Animation majors. This course taught animation fundementals using After Effects. This might be my favorite class I've ever taught because the students were all entering the first class for their chosen major so they were excited to learn and were fully invested.<br>
                   2 Sections: Intro to Digital Media Arts, this was an open ended intro course for interactive and digital media. Primariy I introduced students to the worlds of interaction design, web animation with small projects that were acheivable by beginners. For instance I introduced OpenFrameworks very early in the semester to show the possibilities and the grander vision of interaction design beyond the web, but the primary goal for the course was to introduce them to the tools and the concepts and not necessarily to get them to try to learn entire development languages.
                <br>http://courses.ericbintner.com/
                </p>

            </div>

            <div class="readMore">read more</div>
        </div>
    </li>

    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
        <div class="companyWrap">
            <div class="company-logo">
                <img alt="CS Designworks" src="img/about/resume-CSDw.png">
            </div>

            <div class="summary-info ">
                <p class="title">Jr Front-End Developer / Animator</p>

                <p class="company">CS Designworks</p>

                <p class="date-range">
                    <span>May 2009 - Aug 2010</span>
                  </p>

                <p class="location">
                    <span>New York, NY</span>
                </p>

            </div>
            </div>
            <div class="details closed">
                <p>CS Designworks is a small design studio in Midtown with primarily corporate and real estate clients. I helped build pages in an existing framwork for Cushman &amp; Wakefield's website as well and After Effects animations and other microsites for other clients, firms and corporate office buildings. At CSD I built a flash banner ad for One World Trade Center before the building was finished, not much to brag about but was the highest profile work I had to date. I left my role here to accept a temporary teaching position at Missouri State University.
                </p>

            </div>
            <div class="readMore">read more</div>
        </div>
    </li>
















    <li class="li-employment ">
        <div class="pv-entity__actions"></div>
        <div class="pv-entity__actions headline"></div>
                         <div class="overview">
                             <div class="companyWrap" style="margin-bottom: 0 !important;">
                                 <div class="company-logo headline">
                                    <img style="height:0" src="img/about/clear.png">
                                 </div>
                                 <div class="summary-info " style="flex: 7.5;">
                                     <p class="title headline" >Education</p>
                                 </div>
                             </div>
                         </div>
    </li>



    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="Cranbrook Academy of Art" src="img/about/resume-Cranbrook.png">
            </div>

             <div class="summary-info " style="flex:7.5">
                <p class="title">Cranbrook Academy of Art</p>

                <p class="company">
                M.F.A. &nbsp;|&nbsp; 2D Design</p>     

                <p class="date-range edu">
                    <span>2005 – 2007</span>
                  </p>

                <p class="location edu">
                    <span>Bloomfield Hills, MI</span>
                </p>
             </div>
             </div>

        </div>
    </li>

    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="Missouri State University" src="img/about/resume-MSU.png">
            </div>

        <div class="summary-info " style="flex:7.5">
                 <p class="title">Missouri State University</p>

                <p class="company">
                B.F.A. &nbsp;|&nbsp; Animation / Sculpture</p>

                 <p class="date-range">
                    <span>1999 – 2005</span>
                  </p>

                <p class="location">
                    <span>Springfield, MO</span>
                </p>

            </div>
            </div>

        </div>
    </li>
















<li class="li-employment ">
        <div class="pv-entity__actions"></div>
        <div class="pv-entity__actions headline"></div>
                         <div class="overview">
                             <div class="companyWrap" style="margin-bottom: 0 !important;">
                                 <div class="company-logo headline">
                                    <img style="height:0" src="img/about/clear.png">
                                 </div>
                                 <div class="summary-info " style="flex: 7.5;">
                                     <p class="title headline" >Awards & Achievements</p>
                                 </div>
                             </div>
                         </div>
    </li>



    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
                <div class="company-logo">
                    <img alt="Missouri State University" src="img/about/resume-MSU.png">
                </div>

                <div class="summary-info ">
                    <p class="title">Biannual Faculty Art Exhibition</p>

                    <p class="company">MSU Art & Design Exhibition Center</p>
                    <p class="date-range edu">
                        <span>2010</span>
                      </p>

                    <p class="location edu">
                        <span>Springfield, MO</span>
                    </p>
                </div>
            </div>
            <div class="details closed">
               <p>Another kinetic sculpture <em>Landscape Machine</em> was included in the MSU Faculty Art Exhibition. The piece was mounted to the ceiling in two parts, one side that mounted a fixed height cable, and another side 12<sub>ft</sub> away that moved a cable mount up and down, allowing a wheel with a video projector to freely roll left or right. I used OpenFrameworks and a video camera to then capture the movements of this free-rolling projector so I could play video based on the projector's left/right proximity. The video is of a traditional outdoor landscape (with a a few digital augmentations) and the OF software simpily slid the video left and right to make the video to appear to shine a hole through the wall. </p>
            </div>
            <div class="readMore">read more</div>
        </div>
    </li>

    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
                <div class="company-logo">
                    <img alt="Springfield Art Museum" src="img/about/resume-SArt.png">
                </div>

                <div class="summary-info ">
                    <p class="title">MSU Centennial Art Exhibition</p>

                    <p class="company">Springfield Art Museum</p>
                    <p class="date-range edu">
                        <span>2005</span>
                      </p>

                    <p class="location edu">
                        <span>Springfield, MO</span>
                    </p>
                </div>
            </div>
            <div class="details closed">
                <p>My kinetic sculpture <em>The Relationship Between Free-Wheeled and Determined Actions</em> was chosen to be included in the MSU Centennial Art Exhibition Art Exhibition for Missouri State University. The piece hung in the center of a room with 20<sub>ft</sub> ceilings and it spins a bicycle wheel at a constant pace causing an attached bowling ball to drop and shake the machine, which in-turn caused a loosly attached wheel at the far end to flip, or spin somewhat irregularly and unpredictably.</p>
            </div>
            <div class="readMore">read more</div>
        </div>
    </li>

      <li class="li-employment">
        <div class="pv-entity__actions"></div>

          <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="NCAA Men's Swimming" src="img/about/resume-NCAA.png">
            </div>

            <div class="summary-info ">
                <p class="title">Ranked top 30 in the 1650 Freestyle</p>

                <p class="company">NCAA Division I Men's Swimming</p>
                <p class="date-range edu">
                    <span>2002, 2003</span>
                  </p>

                <p class="location edu">
                    <span>Springfield, MO</span>
                </p>
             </div>
             </div>
            <div class="details">
                
            </div>
        </div>
      </li>

    <li class="li-employment">
        <div class="pv-entity__actions"></div>

        <div class="overview">
            <div class="companyWrap">
            <div class="company-logo">
                <img alt="Boy Scouts of America" src="img/about/resume-Scouts.png">
            </div>

            <div class="summary-info " style="flex:7.5">
                <p class="title">Eagle Scout</p>

                <p class="company">Boy Scouts of America</p> 
                <p class="date-range edu">
                    <span>1997</span>
                  </p>

                <p class="location edu">
                    <span>Lee's Summit, MO</span>
                </p>
            </div>
             </div>
             </div>
            
    </li>












    <li class="li-employment">
        <div class="pv-entity__actions"></div>
        <div class="pv-entity__actions headline"></div>
                         <div class="overview">
                             <div class="summary-info " style="flex: 7.5;font-size: 1.4rem; font-weight:300">
                                 <p class="title" style="text-transform: uppercase; margin-top: 2.5vh;">&nbsp;</p>
                             </div>
                         </div>
    </li>










</ul>

            </div>
    </div>


    <div class="carousel__cell">
        <svg viewBox="0 0 100 700">
            <defs>
                     <mask id="maskContact" x="0" y="0" width="100" height="700">
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <text class="contact" text-anchor="left" x="1.5" y="350" dy="0">CONTACT</text>
                     </mask>
            </defs>
            <rect class="bg" x="0" y="0" width="100" height="700" mask="url(#maskContact)"></rect>    
        </svg>
        <div class="cardContent">

            
            <div id="WFcontainer" class="ltr">

                <h1 id="logo"  style="display:none">
                <a href="http://www.wufoo.com" title="Powered by Wufoo">Wufoo</a>
                </h1>

                <form id="form3" name="form3" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ericbintner.wufoo.com/forms/qzwhd7m0y9oax3/#public" style="margin-bottom:6vh">
          


                     
                    <ul>




                         



                         <div class="contactOverview">
                                <div class="first" >
                                    <img style="height:0" src="img/about/clear.png">
                                </div>
                                <div class="second" >
                                    
                                    <div class="location" style="margin: 5vh 0 1em 0;">
                                        <p>Eric Bintner<br> <span>Creative Developer / Animator / Interaction Designer</span></p>
                                        <div>
                                        <a href="https://www.linkedin.com/in/ericbintner/"target="_blank"><span class="icon-linkedin"></span></a>
                                        <a href="https://angel.co/eric-bintner" target="_blank"><span class="icon-angellist"></span></a>
                                        <a href="https://codepen.io/EricBintner/" target="_blank"><span class="icon-codepen"></span></a>
                                        <a href="https://github.com/EricBintner" target="_blank"><span class="icon-github"></span></a>
                                        <a href="https://stackoverflow.com/users/1867575/eric-b" target="_blank"><span class="icon-stackoverflow"></span></a>

                                            <!--<a href="https://www.facebook.com/eric.bintner" target="_blank"><span class="icon-facebook"></span></a>-->

                                        </div>
                                    </div>
                                    <p class="title headline">Send me an email:</p>
                                </div>
                        </div>



                  
                        <li id="foli1" class="notranslate      ">
                            <label class="desc" id="title1" for="Field1">Name <span id="req_1" class="req">*</span></label>
                            <span>
                                <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="First"       required />
                                <!--<label for="Field1">First</label>-->
                            </span>
                            <span>
                                <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Last" required />
                                <!--<label for="Field2">Last</label>-->
                            </span>
                            <div></div>
                        </li>
                        <li id="foli3" class="notranslate ">
                            <label class="desc" id="title3" for="Field3">Email <span id="req_3" class="req">*</span></label>
                            <div>
                                <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       placeholder="" required />
                            </div>
                            <div></div>
                        </li>
                        <li id="foli11" class="      ">
                            <label class="desc notranslate" id="title11" for="Field11">
                                How may I help? <span id="req_11" class="req">*</span>
                            </label>
                            <div>
                            <select id="Field11" name="Field11" class="field select medium"       tabindex="4" >
                                <optgroup>
                                    <option value="" selected="selected">
                                        <span class="notranslate"></span>
                                    </option>
                                    <option value="I just want to say  hi!" >
                                        <span class="notranslate">I just want to say  hi!</span>
                                    </option>
                                    <option value="I have a career opportunity" >
                                        <span class="notranslate">I have a career opportunity</span>
                                    </option>
                                    <option value="I need freelancer for a gig" >
                                        <span class="notranslate">I need freelancer for a gig</span>
                                    </option>
                                    <option value="Education &amp; Learning" >
                                        <span class="notranslate">Education & Learning</span>
                                    </option>
                                    
                                </optgroup>
                            </select>
                            </div>
                            <div></div>
                        </li>
                        <li id="foli4" class="notranslate       ">
                            <label class="desc" id="title4" for="Field4">Website / Link </label>
                            <div>
                                <input id="Field4" name="Field4" type="url" class="field text medium" value="" maxlength="255" tabindex="5" placeholder="" />
                            </div>
                            <div></div>
                        </li>
                        <li id="foli9"
                            class="notranslate"><label class="desc" id="title9" for="Field9">Message</label>

                            <div>
                                <textarea id="Field9" name="Field9"class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="6" onkeyup="" placeholder=""></textarea>
                            </div>
                            <div></div>
                        </li> 
                        <li class="buttons ">
                            <div class="buttonFix"></div>
                            <div>
                                <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>    
                            </div>
                            <div></div>
                        </li>

                        <li class="hide">
                            <label for="comment">Do Not Fill This Out</label>
                            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                            <input type="hidden" id="idstamp" name="idstamp" value="95Vun0xNGREvbh2yrzr9o9sJmCnBVylsAG6/70n8mbk=" />
                        </li>
                    </ul>
                </form>
                 

            </div>
        </div>

    </div>


    <div class="carousel__cell">

            <svg viewBox="0 0 100 700">
                   <defs>
                     <mask id="maskCredits" x="0" y="0" width="100" height="700">
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <rect x="0" y="0" width="100" height="700" fill="#fff"></rect>
                       <text class="credits" text-anchor="left" x="1.5" y="350" dy="0">CREDITS</text>
                     </mask>
                   </defs>
                   <rect class="bg" x="0" y="0" width="100" height="700" mask="url(#maskCredits)" ></rect>    
            </svg>

            <div class="cardContent">
            <ul class="li-content bio credits">
                    <h3>This Website:</h3> 
                    <a href="https://github.com/EricBintner/portfolio-site" target="_blank">https://github.com/EricBintner/portfolio-site</a>

                    <div class="creditFlex">
                        <div class="flex">
                            <p class="devTitle">Build:  </p>
                            <ul>
                                <li>
                                    <ul>
                                                <li>Node.js</li>
                                                <li>Gulp</li>
                                                <li>SCSS</li>
                                    </ul>
                                    <ul>
                                                <li>Handlebars</li>
                                                <li>NPM</li>
                                                <li>GIT</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="flex">
                            <p class="devTitle">Front-end:</p>
                            <ul>
                                <li>Custom nav architecture built in 3D CSS coordinates</li>
                                <li>User initiated animations are GSAP or pure CSS</li>
                                <li>ERICBINTNER.COM subtractive color logo built in canvas with js</li>
                                <li>three.js WebGL (desktop site) modified from these sources<br>
                                    <a href="https://experiments.withgoogle.com/clouds" target="_blank">WebGL Clouds on Experiments from Google</a><br>
                                    <a href="https://codepen.io/favina/pen/bZmzVK"      target="_blank">WebGL Aurora forked from this broken CodePen</a>
                                </li>
                                
                                <li>This site contains many features that push the boundaries of browser graphics – some browser rendering differences are likely to occur.</li>
                                <li>Likewise, I do not have *all the devices and browsers* and the QA process includes *only my hardware*, therefore (as of this writing) expect bugs in Android and Windows.</li>
                                <li>This site lightly uses jQuery as I needed a site built ASAP (I built this in just over 2 months). I realize how and where many aspects of constructing the DOM in my usage can leverage a virtual DOM such as in React.js, especially for larger, more scalable projects than this.</li>

                            </ul>
                        </div>
                    </div>
                    
                    
                    

                    <h3>People I want to thank:</h3>
                    <p class="people">
                        <span>Vonda Yarberry: &nbsp;Missouri State, Animation Professor</span>
                        <span>Elliot Earls: &nbsp;Cranbrook, 2D Design Artist In Residence</span>
                        <span>Andrew Prinz: &nbsp;Artist/Musician, Mahogany (band)</span>
                        <span>Cheryl Molnar: &nbsp;Painter, J.P. Morgan Graphic Designer</span>
                        <span>Santiago Piedrafita: &nbsp;Pratt, Grad COMD Chairperson</span>

                    </p>    


                    <h3>Influnces:</h3>
                    <p class="people">
                        <span>Brain Eno</span>
                        <span>Golan Levin</span>
                        <span>Cyrak</span>
                        <span>Mike Bostock</span>
                        <span>Pipilotti Rist</span>
                        <span>Michel Gondry</span>
                        <span>Guy Debord</span>
                        <span>That challenging Radiohead website released at the same time as Kid A.</span>
                        <span>&nbsp;</span>
                    </p>   

                </ul>
            </div>



    </div>


</div>