



<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>New Site</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

  
      <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>


    <div id="environment">
      <div id="content">

        <section id="first"> 
        	{{> SVG-background_first}}
        	<div class="place3D stop1">
        		{{> SVG-background_first}}
        	</div>
        	<div class="place3D stop2">
        		{{> SVG-background_first}}
        	</div>
        	<div class="place3D stop3">
        		{{> SVG-background_first}}
        	</div>
        	<div class="place3D stop4">
        		{{> SVG-background_first}}
        	</div>
        	<!--<div class="place3D stop5">
        	</div>-->
        </section>

        <section id="second">
        	{{> SVG-background_second}}
        	<div class="place3D stop1">
        		{{> SVG-background_second}}
        	</div>
        	<div class="place3D stop2">
        		{{> SVG-background_second}}
        	</div>
        	<div class="place3D stop3">
        		{{> SVG-background_second}}
        	</div>
        	<div class="place3D stop4">
        		 {{> SVG-background_second}}
        	</div>
        	<!--<div class="place3D stop5">
        	</div>-->
        </section>

        <section id="third"> 
        	{{> SVG-background_third}}
        	<div class="place3D stop1">
        		{{> SVG-background_third}}
        	</div>
        	<div class="place3D stop2">
        		{{> SVG-background_third}}
        	</div>
        	<div class="place3D stop3">
        		{{> SVG-background_third}}
        	</div>
        	<div class="place3D stop4">
        		{{> SVG-background_third}}
        	</div>
        </section>

        <section id="fourth">
        	{{> SVG-background_fourth}}
        	<div class="place3D stop1">
        		{{> SVG-background_fourth}}
        	</div>
        	<div class="place3D stop2">
        		{{> SVG-background_fourth}}
        	</div>
        	<div class="place3D stop3">
        		{{> SVG-background_fourth}}
        	</div>
        	<div class="place3D stop4">
        		{{> SVG-background_fourth}}
        	</div>
        </section>

      </div>
    </div>

    <div id="scroll-proxy"></div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="js/main.js"></script>



</body>

</html>